* {
  min-width: 0;
}

.right {
  float: right;
}

#hero {
  height: 50vh;
  background: url("../../public/assets/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .hero-title {
    background: lightgray;
    padding: 40px;
    border-radius: 4px;
  }
}

#board {
  margin: 48px auto;
  #board-new {
    text-align: center;
    padding: 16px 0;
  }
  button {
    padding: 6px 18px;
  }
  .dropdown-selector {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: auto;
  }
  .dropdown-countries {
    .dropdown-menu {
      max-height: 200px;
      overflow-y: auto;
      .dropdown-item {
        cursor: pointer;
      }
    }
  }
  table {
    tbody {
      .table-data-emoji {
        margin-right: 4px;
      }
      .player-winnings {
        display: flex;
        .name-edit-icon {
          margin-left: 4px;
          width: 24px;
          height: 24px;
          display: flex;
          cursor: pointer;
          img {
            width: inherit;
          }
        }
        .edit-winning {
          input {
            height: 24px;
          }
        }
      }
    }
  }
}
